#### 고려해야 할 사항
-

# Import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
import mglearn

#### 한글 사용을 위한 method

In [2]:
matplotlib.rcParams['font.family']='Malgun Gothic'   # 한글 사용
matplotlib.rcParams['axes.unicode_minus'] = False

#### 분석에 필요한 각 파일 read

In [3]:
activity = pd.read_csv('train_activity.csv')
label = pd.read_csv('train_label.csv')
combat = pd.read_csv('train_combat.csv')
payment = pd.read_csv('train_payment.csv')
trade = pd.read_csv('train_trade.csv')
pledge = pd.read_csv('train_pledge.csv')

#### activity 파일 편집
- Char_id 와 Acc_id 기준으로 groupby.sum()
- 자동으로 합쳐지는 day를 삭제

In [4]:
activity_g = activity.groupby(['char_id','acc_id' ],as_index=False).sum() # groupby 한 다음에 index 분리
activity_g.drop(columns = 'day', inplace = True)
activity_g

,char_id,acc_id,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
0,2,12365,0.123246,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
1,3,121046,2.732749,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,2.419238e-03,0.000000
2,5,8885,1.012042,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
3,7,37934,0.125616,0.033063,0.000000,0.321568,0.000000,1,0.000000,0.000000,0.0,0.000000,0.000000,7.580674e-05,0.000000
4,9,107257,0.033182,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
5,13,111704,14.315530,8.487013,2.287007,0.000000,0.171112,0,1.717588,1.480916,0.0,9.309953,0.000000,-2.886437e+00,0.000000
6,14,44686,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
7,15,88391,0.040292,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
8,17,111945,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
9,19,4250,0.357888,0.031713,0.013509,0.000000,0.066535,0,0.000000,0.000000,0.0,0.000000,0.000000,2.267965e-07,0.000000
10,22,46127,0.014221,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-2.834956e-06,0.000000
11,23,55119,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
12,26,87216,0.007110,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-2.834956e-03,0.000000
13,28,125663,1.417332,0.335351,6.413733,0.078385,17.701464,2,0.000000,0.000000,0.0,0.000000,0.000000,7.240479e-05,0.000000
14,29,3222,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
15,31,121726,0.075844,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
16,32,101383,6.453839,0.026315,0.175135,0.000000,0.055411,0,0.000000,0.000000,0.0,2.739781,0.000000,-7.419081e-05,0.000000
17,34,30809,0.004740,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
18,37,61569,30.633812,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
19,41,93316,0.090065,0.078271,0.036862,0.000000,0.066535,0,0.000000,0.000000,0.0,0.000000,0.000000,1.120942e-04,0.000000
20,46,32136,18.349476,14.593169,0.050056,0.146065,0.102807,0,0.000000,0.000000,0.0,0.888756,0.000000,2.815713e-02,0.000000
21,53,109658,11.378950,32.250043,1.726451,0.360299,0.086558,12,0.245370,0.246819,0.0,0.810068,0.000000,1.886224e-02,0.000000
22,57,88902,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
23,59,68799,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
24,61,21928,37.616188,0.000000,0.000000,21.859248,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,7.260380e-03,0.000000
25,63,81772,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
26,64,34614,0.004740,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
27,65,103903,0.066363,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-6.236904e-05,0.000000
28,67,82578,0.052143,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
29,70,92863,0.021331,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-1.417478e-05,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152453,397372,119439,0.004740,0.000000,0.000056,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152454,397373,130468,0.007110,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-1.359078e-04,0.000000
152455,397377,40122,0.383960,0.084006,0.039811,0.000000,0.109554,0,0.245370,0.246819,0.0,0.000000,0.000000,1.530877e-05,0.000000
152456,397378,1669,0.481135,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,1.696310e-01,0.000000
152457,397379,9544,0.793990,0.003711,0.034345,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,3.845908e-02,104.693433
152458,397380,75001,47.784007,0.000000,0.000013,0.000000,0.000000,0,0.490740,0.493639,0.0,0.000000,31.177873,-1.726572e-01,0.000000
152459,397381,119752,0.853244,0.658557,5.281524,2.447714,7.207634,3,0.245370,0.246819,0.0,0.104838,0.000000,-2.463577e-05,0.000000
152460,397387,80977,0.085324,0.000000,0.000000,0.000000,0.003841,0,0.000000,0.000000,0.0,0.000000,0.000000,-1.416050e+01,0.000000
152461,397391,7722,84.862178,13.941360,0.688938,0.218216,0.041775,8,0.736109,0.740458,0.0,46.990332,0.273354,-6.707450e-01,0.000000
152462,397395,54030,15.898771,34.539472,0.420250,0.102769,0.019913,4,0.000000,0.000000,0.0,4.327288,0.000000,-8.298788e-02,0.000000
152463,397396,112816,65.398745,71.559665,0.487018,0.851841,0.142693,14,37.541576,37.763355,0.0,5.228092,0.000000,-5.520993e-03,0.000000
152464,397400,112410,2.818074,6.367622,13.654641,0.000000,0.055411,0,0.490740,0.493639,0.0,0.152083,0.000000,-1.589789e-01,0.000000
152465,397401,105211,36.357654,32.118804,0.000035,7.404369,0.000000,0,6.379614,4.936386,0.0,0.000000,0.000000,5.796919e-04,0.000000
152466,397402,93898,0.554608,0.295878,4.556722,0.000000,17.666694,0,0.000000,0.000000,0.0,0.000000,0.000000,8.022927e-06,0.000000
152467,397403,47345,0.267824,0.016194,0.068308,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-9.275978e-05,0.000000
152468,397404,10299,0.464544,0.524281,7.202323,0.000000,0.963402,0,0.000000,0.000000,0.0,0.000000,0.000000,2.826282e-03,0.000000
152469,397406,98226,0.002370,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152470,397408,36623,0.059253,0.000000,0.000000,0.000000,0.000000,0,0.245370,0.246819,0.0,0.000000,0.000000,-1.280550e-04,0.000000
152471,397410,122953,0.026071,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152472,397412,129431,79.361127,94.646258,24.359330,0.769601,0.374025,6,1.226849,0.246819,0.0,0.012404,0.000000,5.203818e-03,0.000000
152473,397419,12998,0.071104,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152474,397421,79431,0.016591,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-2.834956e-06,0.000000
152475,397423,16037,0.315226,0.020917,0.006981,0.000000,0.078058,0,0.000000,0.000000,0.0,0.000000,0.000000,9.723901e-06,0.000000
152476,397425,82250,15.140332,10.988651,0.124343,0.068571,0.007792,10,12.023119,12.094146,0.0,1.916796,0.000000,-3.551960e+00,0.000000
152477,397433,24007,0.004740,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152478,397434,114050,0.021331,0.000000,0.000000,0.000000,0.018906,0,0.000000,0.000000,0.0,0.000000,0.000000,4.548688e-04,0.000000
152479,397438,23796,0.331817,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-5.737952e-05,0.000000
152480,397439,80513,0.004740,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152481,397441,14208,0.004740,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000
152482,397443,33040,0.007110,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000e+00,0.000000

#### activity 파일에 survival time을 입력
- 앞서 char_id와 acc_id를 기준으로 groupby 했던 파일과 label 파일을 acc_id 기준으로 merge
- 중복되는 값을 지니는 amount_spent를 삭제

In [5]:
label_new = pd.merge(activity_g, label, how = 'inner', on = 'acc_id').sort_values('char_id')
label_new.drop(columns = 'amount_spent', inplace = True)
# activity_new = label_new.set_index('char_id')


activity_new = label_new
# activity_new
# activity_new.columns
# z = activity_new[activity_new['char_id'] == 5] # char_id로 검색
# z

#### combat 파일을 groupby
- char_id, acc_id, class, level에 따라 groupby
- 이후 의미없는 'day' column 을 삭제

In [6]:
combat_1 = combat.groupby(['char_id', 'acc_id', 'class', 'level'],as_index=False).sum().sort_values('char_id')
# level이 달라지는 경우가 존재하기 때문에 level로는 묶지 않고
# 따로 구한 후 merge 혹은 join 시킨다

combat_1.drop(columns = 'day', inplace = True)

In [7]:
combat_1

,char_id,acc_id,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,2,12365,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,3,121046,3,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,5,8885,7,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,7,37934,2,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,9,107257,7,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,13,111704,0,15,0.000000,0.000000,0.000000,1.439183,0.000000,0.225223,0.490644
6,14,44686,7,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,15,88391,6,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,17,111945,2,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,19,4250,1,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,22,46127,1,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,23,55119,2,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,26,87216,1,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,28,125663,2,9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,28,125663,2,11,0.128368,0.000000,0.000000,0.000000,0.000000,2.590065,2.158833
15,29,3222,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,31,121726,2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,32,101383,3,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,34,30809,1,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,37,61569,3,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,41,93316,1,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,46,32136,2,16,0.000000,0.000000,0.000000,0.000000,0.000000,0.563058,0.490644
22,53,109658,4,16,0.000000,0.000000,4.732258,1.439183,0.000000,1.914396,1.864446
23,57,88902,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,59,68799,7,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,61,21928,3,15,0.000000,0.000000,14.196774,0.000000,0.000000,0.000000,0.686901
26,63,81772,6,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,64,34614,6,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,65,103903,1,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,67,82578,1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
188068,397380,75001,7,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188069,397381,119752,4,11,0.000000,0.000000,0.000000,1.439183,0.000000,0.112612,0.294386
188070,397387,80977,3,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188071,397391,7722,3,16,0.000000,0.000000,1.183064,1.918911,0.000000,2.702677,2.453219
188072,397395,54030,2,17,0.641842,8.257026,0.000000,3.358094,0.000000,32.206897,18.153820
188073,397396,112816,4,17,33.247438,29.326678,13.013709,5.756733,6.199136,76.575838,51.811982
188074,397400,112410,0,14,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129
188075,397400,112410,0,15,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129
188076,397401,105211,4,16,0.000000,0.000000,20.112096,0.479728,0.000000,0.563058,1.373803
188079,397402,93898,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
188078,397402,93898,2,10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188077,397402,93898,2,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188080,397403,47345,3,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188081,397404,10299,2,12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188082,397406,98226,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188083,397408,36623,0,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129
188084,397410,122953,0,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188085,397412,129431,3,14,0.000000,0.000000,0.000000,0.000000,0.000000,0.675669,0.588773
188086,397412,129431,3,15,0.000000,0.000000,0.000000,8.155372,0.000000,2.364842,2.747605
188087,397412,129431,3,16,0.000000,0.000000,0.000000,8.155372,0.000000,0.563058,1.570060
188088,397419,12998,2,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188089,397421,79431,0,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188090,397423,16037,7,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188091,397423,16037,7,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188092,397425,82250,1,17,130.871671,0.000000,2.366129,5.277005,0.000000,2.364842,118.343278
188093,397433,24007,6,8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188094,397438,23796,7,14,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129
188095,397439,80513,7,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188096,397441,14208,3,11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
188097,397443,33040,7,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

#### 중복되는 값들을 찾아서 확인
- char_id 가 같고 acc_id 가 다른 경우
- 수정할 필요가 있음
- combat에 있는 id 중에 activity에 없는 경우를 찾아 삭제 후 merge

In [8]:
# char_id 가 같고 acc_id가 다른 경우를 찾음
y = combat_1.groupby('char_id', as_index = False).count()
y
x = y[y['class']>2]
x
print(x['char_id'].values)
z = combat_1[combat_1['char_id'] == 82]
z
# level이 달라지는 경우 중복 값으로 표기된다.
# level이 달라지는 경우 최대값으로 계산

[    82    132    148 ... 397250 397402 397412]

,char_id,acc_id,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
35,82,61018,1,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,82,61018,1,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,82,61018,1,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# combat 에서 level이 최대값들로 행을 구한다.
cob_level = combat.groupby(['char_id', 'acc_id', 'class'], as_index = False).max()
cob_level

p = cob_level[cob_level['char_id'] == 82]
p

# char_id, acc_id level 을 추출
cob_level = cob_level[['char_id', 'acc_id', 'level']]
cob_level

# 149851 rows x 11 columns

        char_id  acc_id  level
0             2   12365     11
1             3  121046     11
2             5    8885      0
3             7   37934     14
4             9  107257      0
5            13  111704     15
6            14   44686      0
7            15   88391     14
8            17  111945      0
9            19    4250      6
10           22   46127     11
11           23   55119      7
12           26   87216     11
13           28  125663     11
14           29    3222     11
15           31  121726      2
16           32  101383     11
17           34   30809      0
18           37   61569      6
19           41   93316      6
20           46   32136     16
21           53  109658     16
22           57   88902      0
23           59   68799      2
24           61   21928     15
25           63   81772      0
26           64   34614      6
27           65  103903      4
28           67   82578      1
29           70   92863     11
...         ...     ...    ...
149821   397371   39896     11
149822   397372  119439      1
149823   397373  130468      2
149824   397377   40122      7
149825   397378    1669     12
149826   397379    9544     15
149827   397380   75001     14
149828   397381  119752     11
149829   397387   80977     12
149830   397391    7722     16
149831   397395   54030     17
149832   397396  112816     17
149833   397400  112410     15
149834   397401  105211     16
149835   397402   93898     11
149836   397403   47345     11
149837   397404   10299     12
149838   397406   98226     11
149839   397408   36623      5
149840   397410  122953     14
149841   397412  129431     16
149842   397419   12998     11
149843   397421   79431     11
149844   397423   16037      6
149845   397425   82250     17
149846   397433   24007      8
149847   397438   23796     14
149848   397439   80513      2
149849   397441   14208     11
149850   397443   33040      1

[149851 rows x 3 columns]

In [10]:
# cob_level (캐릭터 lv) 과 combat 을 'char_id', 'acc_id', 'class'로
# groupby 한 combat_g를 merge

combat_g = combat.groupby(['char_id','acc_id','class'], as_index = False).sum()
combat_g.drop(columns = ['day', 'level'], inplace = True)
combat_g

combat_new = pd.merge(combat_g, cob_level, how = 'inner', on = ['char_id', 'acc_id'])
combat_new

,char_id,acc_id,class,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent,level
0,2,12365,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
1,3,121046,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
2,5,8885,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,7,37934,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14
4,9,107257,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
5,13,111704,0,0.000000,0.000000,0.000000,1.439183,0.000000,0.225223,0.490644,15
6,14,44686,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
7,15,88391,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14
8,17,111945,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
9,19,4250,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6
10,22,46127,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
11,23,55119,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7
12,26,87216,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
13,28,125663,2,0.128368,0.000000,0.000000,0.000000,0.000000,2.590065,2.158833,11
14,29,3222,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
15,31,121726,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
16,32,101383,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
17,34,30809,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
18,37,61569,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6
19,41,93316,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6
20,46,32136,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.563058,0.490644,16
21,53,109658,4,0.000000,0.000000,4.732258,1.439183,0.000000,1.914396,1.864446,16
22,57,88902,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
23,59,68799,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
24,61,21928,3,0.000000,0.000000,14.196774,0.000000,0.000000,0.000000,0.686901,15
25,63,81772,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
26,64,34614,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6
27,65,103903,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4
28,67,82578,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
29,70,92863,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
...,...,...,...,...,...,...,...,...,...,...,...
149821,397371,39896,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
149822,397372,119439,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
149823,397373,130468,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
149824,397377,40122,3,0.000000,0.000000,0.000000,0.000000,0.000000,1.351338,0.686901,7
149825,397378,1669,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12
149826,397379,9544,3,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129,15
149827,397380,75001,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14
149828,397381,119752,4,0.000000,0.000000,0.000000,1.439183,0.000000,0.112612,0.294386,11
149829,397387,80977,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12
149830,397391,7722,3,0.000000,0.000000,1.183064,1.918911,0.000000,2.702677,2.453219,16
149831,397395,54030,2,0.641842,8.257026,0.000000,3.358094,0.000000,32.206897,18.153820,17
149832,397396,112816,4,33.247438,29.326678,13.013709,5.756733,6.199136,76.575838,51.811982,17
149833,397400,112410,0,0.000000,0.000000,0.000000,0.959456,0.000000,0.000000,0.196258,15
149834,397401,105211,4,0.000000,0.000000,20.112096,0.479728,0.000000,0.563058,1.373803,16
149835,397402,93898,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129,11
149836,397403,47345,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
149837,397404,10299,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12
149838,397406,98226,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
149839,397408,36623,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.112612,0.098129,5
149840,397410,122953,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14
149841,397412,129431,3,0.000000,0.000000,0.000000,16.310744,0.000000,3.603569,4.906438,16
149842,397419,12998,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
149843,397421,79431,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
149844,397423,16037,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6
149845,397425,82250,1,130.871671,0.000000,2.366129,5.277005,0.000000,2.364842,118.343278,17
149846,397433,24007,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8
149847,397438,23796,7,0.000000,0.000000,0.000000,0.479728,0.000000,0.000000,0.098129,14
149848,397439,80513,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
149849,397441,14208,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11
149850,397443,33040,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1

In [11]:
# char_id '5'을 검색
z = activity_new[activity_new['char_id'] == 5] # char_id로 검색
print(z)
print('='*80)
z = combat_new[combat_new['char_id'] == 5] # char_id로 검색
print(z)
print('='*80)
z = trade[trade['source_char_id'] == 5]
print(z)
print('='*80)
z = label[label['acc_id'] == 8885]
print(z)
print('='*80)
z = pledge[(pledge['acc_id'] == 8885) & (pledge['char_id'] == 5)]
print(z)

    char_id  acc_id  playtime  npc_kill  solo_exp  party_exp  quest_exp  \
15        5    8885  1.012042       0.0       0.0        0.0        0.0

    boss_monster  death  revive  exp_recovery  fishing  private_shop  \
15             0    0.0     0.0           0.0      0.0           0.0

    game_money_change  enchant_count  survival_time
15                0.0            0.0             64
================================================================================
   char_id  acc_id  class  pledge_cnt  random_attacker_cnt  \
2        5    8885      7         0.0                  0.0

   random_defender_cnt  temp_cnt  same_pledge_cnt  etc_cnt  num_opponent  \
2                  0.0       0.0              0.0      0.0           0.0

   level
2      0
================================================================================
Empty DataFrame
Columns: [day, time, type, server, source_acc_id, source_char_id, target_acc_id, target_char_id, item_type, item_amount, item_price]
Index: []
================================================================================
       acc_id  survival_time  amount_spent
38266    8885             64      0.098958
================================================================================
Empty DataFrame
Columns: [day, acc_id, char_id, server, pledge_id, play_char_cnt, combat_char_cnt, pledge_combat_cnt, random_attacker_cnt, random_defender_cnt, same_pledge_cnt, temp_cnt, etc_cnt, combat_play_time, non_combat_play_time]
Index: []

In [17]:
#### char_id 별 접속 일 수 확인
act_c = activity.groupby(['char_id','acc_id'], as_index = False).count()
act_c = act_c[['char_id','acc_id','day']]
act_c = act_c.rename(columns = {'day':'day_c'})

In [18]:
act_c['day_c'].max()

77